@charset "utf-8";

/*!  
*   JB STYLE - Layout
*/

// >> 헤더 관련
$layout-header-height: 52px; //헤더 높이
$layout-header-padding: 20px; //헤더 양옆 공백 너비

// >> 메인 관련
$layout-sidebar-width: 300px; //사이드바 너비
$layout-content-padding: 40px; //컨텐츠 위아래옆 공백 너비
$layout-csidebar-height-ta: 80px; //태블릿 사이드바 높이
$layout-csidebar-height-mo: 65px; //모바일 사이드바 높이

// >> 푸터 관련
$layout-footer-height: 36px; //푸터 높이

// >> ㅋ캘린더 관련
$layout-calendar-width: 230px;

// ===============
// jb-header
// ===============
.jb-header {
  height: $layout-header-height;
  color: #fff;
  background-color: $color-teal !important;
  box-shadow: none !important;
  border: 1px solid transparent !important;

  .jb-grid {
    position: relative;
    @include flexbox;
    @include justify-content(flex-end);
    padding: 0 $layout-header-padding !important;
    width: 100%;
    // max-width: 1920px;
    margin: 0 auto;
  }

  // ---------
  // jb-header-logo
  // ---------
  .jb-header-logo {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    font-size: 24px;
    letter-spacing: 0.05rem;
    height: $layout-header-height;
    line-height: $layout-header-height;

    // ~~~~~ RESPONSIVE ~~~~~
    @include res__mobile {
      font-size: 20px;
      left: 20px;
      transform: translateX(0);
    }
    // ~~~~~~~~~~~~~~~~~~~~~~
  }

  // ---------
  // jb-nav
  // ---------
  .jb-nav {
    @include flexbox;
    @include align-items(center);
    margin: 0;
    padding: 0;

    & > li {
      margin: 0;
      padding: 0;
      list-style: none;
    }
  }

  // ---------
  // jb-header-button
  // ---------
  .jb-header-button {
    padding: 0.5em 1em 0.5em !important;

    // ~~~~~ RESPONSIVE ~~~~~
    @include res__mobile {
      font-size: 12px;
    }
    // ~~~~~~~~~~~~~~~~~~~~~~
  }
}

// ===============
// jb-main
// ===============
.jb-main {
  @include flexbox;
  @include justify-content(space-between);
  position: fixed;
  top: $layout-header-height;
  width: 100%;
  width: 100vw;
  height: calc(100% - #{($layout-header-height + $layout-footer-height)});
  background-color: #fff;

  // ~~~~~ RESPONSIVE ~~~~~
  @include res__tablet {
    overflow-y: auto;
    @include flex-direction(column);
  }
  // ~~~~~~~~~~~~~~~~~~~~~~
}

// ===============
// jb-sidebar
// ===============
.jb-sidebar {
  overflow: hidden;
  // position: absolute;
  width: $layout-sidebar-width;
  height: 100%;
  border-color: rgba(0, 0, 0, 0.14);
  border-style: solid;
  border-top-width: 0;
  border-bottom-width: 0;
  border-left-width: 0;
  border-right-width: 1px;

  // ~~~~~ RESPONSIVE ~~~~~
  @include res__tablet {
    @include flexbox;
    @include justify-content(space-between);
    height: 100%;
    width: 100%;
    height: $layout-csidebar-height-ta;
    padding: 0 20px;
    border-bottom: 1px solid #ddd;
  }
  @include res__mobile {
    height: $layout-csidebar-height-mo;
  }
  // ~~~~~~~~~~~~~~~~~~~~~~

  .jb-sidebar-contents {
    @include flexbox;
    @include flex-direction(column);
    @include align-items(center);
    @include justify-content(center);
    margin-bottom: 40px;

    // ~~~~~ RESPONSIVE ~~~~~
    @include res__tablet {
      @include flex-direction(row);
      margin: 0;
    }
    // ~~~~~~~~~~~~~~~~~~~~~~

    &:last-child {
      margin-bottom: 0;
    }
  }
}

// ===============
// jb-contents
// ===============
.jb-contents {
  // position: absolute;
  // left: $layout-sidebar-width;
  width: calc(100vw - #{$layout-sidebar-width});
  height: 100%;
  padding: $layout-content-padding;

  // ~~~~~ RESPONSIVE ~~~~~
  @include res__tablet {
    width: 100%;
    top: $layout-csidebar-height-ta;
    left: 0;
    height: calc(100% - #{$layout-csidebar-height-ta});
    padding: 20px;
  }
  @include res__mobile {
    top: $layout-csidebar-height-mo;
    height: calc(100% - #{$layout-csidebar-height-mo});
  }
  // ~~~~~~~~~~~~~~~~~~~~~~
}

// ===============
// jb-profile
// ===============
.jb-profile {
  width: 90%;
  padding-top: 40px;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 25px;
  border-bottom: 1px solid #ddd;

  // ~~~~~ RESPONSIVE ~~~~~
  @include res__tablet {
    width: auto;
    padding: 0;
    margin: 0;
    border-bottom: 0;
  }
  // ~~~~~~~~~~~~~~~~~~~~~~

  &:hover .jb-profile-pic .jb-header-button {
    opacity: 1;
    transition: opacity 0.25s;
  }

  &:hover .jb-profile-pic:after {
    opacity: 1;
    transition: opacity 0.25s;
  }

  .jb-profile-pic {
    position: relative;
    width: 80px;
    height: 80px;
    margin-bottom: 18px;
    border-radius: 50%;
    overflow: hidden;

    // ~~~~~ RESPONSIVE ~~~~~
    @include res__tablet {
      width: 60px;
      height: 60px;
      margin-right: 16px;
      margin-bottom: 0;
    }

    @include res__mobile {
      width: 50px;
      height: 50px;
      margin-right: 12px;
    }
    // ~~~~~~~~~~~~~~~~~~~~~~

    &:after {
      opacity: 0.4;
      position: absolute;
      top: 0;
      left: 0;
      display: block;
      width: 100%;
      height: 100%;
      content: "";
      background-color: rgba(10, 10, 10, 0.3);
      transition: opacity 0.25s;
    }

    img {
      display: block;
      width: 100%;
      height: 100%;
    }

    .jb-header-button {
      z-index: 1;
      opacity: 0;
      position: absolute;
      top: 50%;
      left: 50%;
      width: 80%;
      padding: 4px;
      text-align: center;
      transform: translate(-50%, -50%);
      font-size: 11px;
      transition: opacity 0.25s;
    }
  }

  .jb-profile-desc {
    font-size: 16px;
    line-height: 156%;
    text-align: center;
    // ~~~~~ RESPONSIVE ~~~~~
    @include res__tablet {
      font-size: 15px;
    }
    @include res__mobile {
      font-size: 14px;
    }
    // ~~~~~~~~~~~~~~~~~~~~~~

    .jb-profile-name {
      display: block;
      font-size: 1.125em;

      &:after {
        display: inline-block;
        content: ",";
      }
      // ~~~~~ RESPONSIVE ~~~~~
      @include res__tablet {
        display: inline-block;
        font-size: 1em;
      }
      @include res__mobile {
        &:after {
          display: none;
        }
      }
      // ~~~~~~~~~~~~~~~~~~~~~~
    }
    .jb-profile-txt {
      display: block;
      // ~~~~~ RESPONSIVE ~~~~~
      @include res__tablet {
        display: inline-block;
      }
      @include res__mobile {
        display: none;
      }
      // ~~~~~~~~~~~~~~~~~~~~~~
    }
  }
}

// ===============
// jb-calendar
// ===============
.jb-calendar {
  width: $layout-calendar-width;
  margin: 0 auto;

  // ~~~~~ RESPONSIVE ~~~~~
  @include res__tablet {
    width: auto;
  }
  // ~~~~~~~~~~~~~~~~~~~~~~

  .jb-calendar-title {
    margin-bottom: 12px;
    font-size: 15px;

    // ~~~~~ RESPONSIVE ~~~~~
    @include res__tablet {
      margin-bottom: 0;
      cursor: pointer;

      &:hover,
      &:active {
        text-decoration: underline;
      }
    }
    @include res__mobile {
      font-size: 14px;
    }
    // ~~~~~~~~~~~~~~~~~~~~~~
  }
  .jb-calendar-checkbox {
    display: none;
    width: 0;
    height: 0;
    overflow: hidden;
		opacity: 0;
		visibility: hidden;

    // ~~~~~ RESPONSIVE ~~~~~
    @include res__tablet {
      display: block;
      &:checked + .jb-calendar-widget {
        display: block;
      }
    }
    // ~~~~~~~~~~~~~~~~~~~~~~
  }
  .jb-calendar-widget {
    ///////임시스타일링/////////
    width: $layout-calendar-width;
    // ~~~~~ RESPONSIVE ~~~~~
    @include res__tablet {
      display: none;
      z-index: 1;
      position: absolute;
      top: 60px;
      right: 20px;
      width: 180px;
      box-shadow: 0 2px 10px #aaa;
    }
    // ~~~~~~~~~~~~~~~~~~~~~~
  }
}

// ===============
// jb-scroll-area
// ===============
.jb-scroll-area {
  position: relative;
  height: 100%;

  // ~~~~~ RESPONSIVE ~~~~~
  @include res__tablet {
    height: auto;
  }
  // ~~~~~~~~~~~~~~~~~~~~~~

  &:before,
  &:after {
    z-index: 1;
    position: absolute;
    width: 100%;
    height: 60px;
    left: 0;
    content: "";
    pointer-events: none;

    // ~~~~~ RESPONSIVE ~~~~~
    @include res__tablet {
      position: fixed;
      height: 40px;
    }
    // ~~~~~~~~~~~~~~~~~~~~~~
  }

  &:before {
    top: 0px;
    @include vertical-gradient(#fff, transparent);

    // ~~~~~ RESPONSIVE ~~~~~
    @include res__tablet {
      top: 52px;
    }
    // ~~~~~~~~~~~~~~~~~~~~~~
  }

  &:after {
    bottom: 0;
    @include vertical-gradient(transparent, #fff);
    // ~~~~~ RESPONSIVE ~~~~~
    @include res__tablet {
      bottom: 36px;
    }
    // ~~~~~~~~~~~~~~~~~~~~~~
  }

  .jb-scroll-contents {
    overflow-x: hidden;
    overflow-y: auto;
    position: relative;
    height: 100%;
    padding-top: #{($layout-content-padding)};
    padding-bottom: #{($layout-content-padding)};
    // padding-right: 22px;

    // ~~~~~ RESPONSIVE ~~~~~
    @include res__tablet {
      padding-right: 12px;
      padding-bottom: 60px;
    }
    // ~~~~~~~~~~~~~~~~~~~~~~
  }
}

// ===============
// jb-footer
// ===============
.jb-footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  width: 100vw;
  height: $layout-footer-height;
  line-height: $layout-footer-height;
  font-size: 11px;
  text-align: center;
  font-weight: 300;
  letter-spacing: 0.01rem;
  color: #bbb;
  border-top: 1px solid #ececec;
  background-color: #fafafa;

  a {
    opacity: 0.8;
    color: #bbb;

    &:hover {
      opacity: 1;
    }
  }
}
