@charset "utf-8";

$color-teal: #3ebcb2;

// z-index
$zindex-top: 500;
$zindex-important: 300;
$zindex-fixed: 100;
$zindex-normal: 10;

// path
$path-image: "../images/";
$path-font: "../fonts/";
